/* Contenedor del Header */

.Header {
    position: relative; /* Necesario para posicionar el botón */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    padding-top: 60px; /* espacio para el botón en la parte superior */
}

.FavoritosContainer {
    position: absolute;
    bottom: 20px; /* ✅ ubica el botón abajo */
    right: 30px;  /* ✅ ubica el botón a la derecha */
}

.Logo {
    height: 250px;
    margin-bottom: 10px;
    margin-right: 115px;
}

.OpcionesMenu {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}


/* Lista del menú */
.Header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Cada ítem de la lista */
.Header li {
    display: inline-block;
    margin: 0 15px;
}

/* Enlaces */
.Header a {
    color: #00B5F1;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.Header a:hover {
    color: #FF6347; /* color al pasar el mouse */
}


